<div class="row">
    <div class="col-md 4 mx-auto">
        <div class="card bg-black text-white">
            <div class="card-herder">
                <h1 clas="h4 text-white">
                    REGISTRO USUARIO 
                </h1>
                <img src="" alt="">
            </div>
            <div class="card-body">
                <form action="/auth/signup" method="POST">
                                        
                    <div class="mb-3">
                       <label for="name">Nombre: </label> 
                       <input type="name" class="form-control bg-dark text-white" name="name" placeholder="Nombre" autofocus>
                    </div>
                    <div class="mb-3">
                       <label for="email">Email: </label> 
                       <input type="email" class="form-control bg-dark text-white" name="email" placeholder="Correo">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password: </label> 
                        <input type="password" class="form-control bg-dark text-white" name="password" placeholder="Contraseña" value="{{password}}">
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password">Confirmar Contraseña: </label> 
                        <input type="password" class="form-control bg-dark text-white" name="confirm_password" placeholder="Confirmar Contraseña" value="{{confirm_password}}">
                    </div>
                    <button class="btn btn-success btn-block">
                        Aceptar
                    </button>
                </form>
            </div>
            <p class="text-center">Ya tiene cuenta creada <a href="/auth/signin" class="text-info">Registro</a></p>
        </div>
    </div>
</div>